.nav{
    justify-content: flex-end;
}


.nav-item {
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .nav-link {
    color: #414141;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .header-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
  }

  .header-desktop {
    background-color: #fff;
    padding: 10px;
    z-index: 4;
    box-shadow: 0 0 4px 0px rgba(65, 65, 65, 0.5);
  }
  
  .header-desktop.visible {
    transform: translateY(0);
  }
  
  .header-desktop .nav-list {
    align-items: center;
  }
  
  .header-desktop .logo-container {
    width: auto;
    margin-bottom: 0;
    margin-right: auto;
  }
  
  .header-desktop .nav-item:last-of-type .nav-link {
    color: var(--orange);
  }
  
  .header-desktop .nav-link {
    color: #414141;
  }