body{
    font-family:inherit;
    font-size:16px;
    line-height:1.2;
    color: #000000;

    max-width:960px;
    padding-left:20px;
    padding-right:20px;
    margin-left: auto;
    margin-right: auto;

    padding-top:104px;

}

header{
    padding:60px 20px;
    text-align:center;
}

.open{
    transform: translateX(0);
}


header nav{
    float:right;
    margin-top:20px;
}


header nav a{
    font-size:14px;
    font-weight:700;
    margin-left: 10px;
} 

header {
    overflow:hidden;
    position:fixed;
    top: 0px;
    left:0px;
    z-index:3;
    width:100%;
    padding:20px;
}

.selected {
    border-bottom: solid 2px #fff;
    padding-bottom: 3px;
}

.introducation{
    padding-right: 260px;
    position: relative;
}

.introducation h2{
    font-size: 60px;
    line-height:1.2;
    font-weight:700;
}

.introducation .explain{
    position: absolute;
    right:0;
    top: 50%;
    width: 310px;
    transform: translateY(-50%);
}



.theory{
    padding-left: 360px;
    position: relative;
}

section.theory .explain {
    position: absolute;
    top: 50px;
    width: 480px;
    left:0;
  }

.theory h3 {
    font-size:25px;
    font-weight: 700;
    margin: 0 0 10px 0;
    
}

.theory img {
    float: right;
    width: 600px;
  }

.theory p{
    font-size:18px;
    font-weight:100;
    margin: 0 0 10px 0;
}


section {
 margin-bottom:70px;
}


.explaindatasets1{
    padding-right: 260px;
    position: relative;
    z-index:1 ;
}

.explaindatasets2{
    margin-top:-100px;
    margin-left:310px;
    position: relative;
    z-index:2 ;
}

.explaindatasets h2{
    font-size: 48px;
    line-height:1.2;
    font-weight:700;
}


.explaindatasets .explain{
    position: relative;
    right:0;
    top: 70%;
    width: 310px;
    transform: translateY(-50%);
    z-index:3;
}


.basemap{
    padding-right: 260px;
    position: relative;
}



.basemap .sectiontitle{
    font-size: 40px;
    line-height:1.2;
    font-weight:700;

    position: absolute;
    right:0;
    top: 60%;
    width: 280px;
    transform: translateY(-50%);
    
}


.introducation img{
    transition:transform 0.5s ease;
}

.introducation:hover img{
    transform: rotate(-3deg);
}

.theory:hover img{
    transform: rotate(3deg);
}
