body{
    font-family:inherit;
    font-size:16px;
    line-height:1.2;
    color: #000000;

    max-width:960px;
    padding-left:20px;
    padding-right:20px;
    margin-left: auto;
    margin-right: auto;

    padding-top:104px;

}

header{
    padding:60px 20px;
    text-align:center;
}

.open{
    transform: translateX(0);
}

/* 
header nav{
    float:right;
    margin-top:20px;
}


header nav a{
    font-size:14px;
    font-weight:700;
    margin-left: 10px;
}  */

header {
    overflow:hidden;
    position:fixed;
    top: 0px;
    left:0px;
    z-index:3;
    width:100%;
    padding:20px;
}

.selected {
    border-bottom: solid 2px #fff;
    padding-bottom: 3px;
}

.introducation{
    padding-right: 260px;
    position: relative;
}

.introducation h2{
    font-size: 60px;
    line-height:1.2;
    font-weight:700;
}

.explain{
    position: absolute;
    right:0;
    top: 50%;
    width: 310px;
    transform: translateY(-50%);
}



.theory{
    padding-left: 360px;
    position: relative;
}

section.theory .explain {
    position: absolute;
    top: 50px;
    width: 480px;
    left:0;
  }

.explain h3 {
    font-size:25px;
    font-weight: 700;
    margin: 0 0 10px 0;
    
}

.theory img {
    float: right;
    width: 600px;
  }

.theory p{
    font-size:18px;
    font-weight:100;
    margin: 0 0 10px 0;
}


section {
 margin-bottom:70px;
}


.explaindatasets1{
    padding-right: 260px;
    position: relative;
    z-index:1 ;
}

.explaindatasets2{
    margin-top:-100px;
    margin-left:310px;
    position: relative;
    z-index:2 ;
}

.explaindatasets h2{
    font-size: 44px;
    line-height:1.2;
    font-weight:700;
}


.explaindatasets .explain{
    position: relative;
    right:0;
    top: 70%;
    width: 310px;
    transform: translateY(-50%);
    z-index:3;
}


.basemap{
    padding-right: 260px;
    position: relative;
}



.sectiontitle{
    font-size: 40px;
    line-height:1.2;
    font-weight:700;

    position: center;
    right:0;
    top: 60%;
    width: 280px;
    transform: translateY(-50%);
    
}

.sectionsmalltitle{
    font-size: 20px;
    line-height:1.2;
    font-weight:700;

    position: center;
    right:0;
    top: 60%;

    
}


.introducation img{
    transition:transform 0.5s ease;
}

.introducation:hover img{
    transform: rotate(-3deg);
}

.theory:hover img{
    transform: rotate(3deg);
}

.slideshow {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  
  .holder {
    position: relative;
    top: 0;
    left: 0;
    width: 5000vw;
    height: 100vh;
  }
  
  .holder div {
    float: left;
    max-width: 960px;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left:20px;
    padding-right:20px;
    margin-left:auto;
    margin-right:auto;


  }

.slide-1 {
    background-image: url(../assets/image_4.jpg);
  }
  
  .slide-2 {
    background-image: url(../assets/image_3.jpg);
  }
  
  .slide-3 {
    background-image: url(../assets/image_4.jpg);
  }
  
  .slide-4 {
    background-image: url(../assets/image_2.jpg);
  }

  .steps {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  
  a {
    color: #000000;
    /* padding: 20px 30px; */
    /* position: absolute; */
    /* bottom: 0; */
    /* text-decoration: none; */
    /* z-index: 1; */
  }
  
 
  .table-cell{
    display:table-cell;
    vertical-align:middle;
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    
}
.table{
    display:table;
    width:100%;
    height:100%;
}
  
.rectangle {
    float:left;
    position: relative;
    width: 90%;
    height: 280px;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#C8DEDF;
    overflow:hidden;
}

.rectangle2 {
    float:left;
    position: relative;
    width: 90%;
    height: 280px;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#5A82A0;
    overflow:hidden;
}

 
 
 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 425px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      } 
    


      .myclass > div {    margin-top: 30px;
      }


      .smallimage {
     margin: 25px;
      }