body{
    font-family:inherit;
    font-size:16px;
    line-height:1.2;
    color: #000000;

    max-width:960px;
    padding-left:20px;
    padding-right:20px;
    margin-left: auto;
    margin-right: auto;

}

header{
    padding:60px 20px;
    text-align:center;
}

.menu{
    background-color:#eaac9b;
    width:350px;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    /* hide menu off the screen */
    transform:translateX(-100%);

    z-index:2;
    transition:transform 0.5s ease;
}

.open{
    transform: translateX(0);
}

nav{
    position: absolute;
    left:65px;
    transform:translateY(-50%);
    top: 50%;

}

nav a{
    font-size:30px;
    font-weight:700;
    display:block;
    margin-bottom:10px;
}

.menu-toggle {
    position:fixed;
    top: 30px;
    left:30px;
    z-index:3;
}

.introducation{
    padding-right: 260px;
    position: relative;
}

.introducation h2{
    font-size: 60px;
    line-height:1.2;
    font-weight:700;
}

.introducation .explain{
    position: absolute;
    right:0;
    top: 50%;
    width: 310px;
    transform: translateY(-50%);
}

.theory{
    padding-left: 360px;
    position: relative;
}

section.theory .explain {
    position: absolute;
    top: 50px;
    width: 480px;
    left:0;
  }

.theory h3 {
    font-size:25px;
    font-weight: 700;
    margin: 0 0 10px 0;
    
}

.theory img {
    float: right;
    width: 600px;
  }

.theory p{
    font-size:18px;
    font-weight:100;
    margin: 0 0 10px 0;
}


section {
 margin-bottom:60px;
}


.basemap{
    padding-right: 260px;
    position: relative;
}



.basemap .sectiontitle{
    font-size: 40px;
    line-height:1.2;
    font-weight:700;

    position: absolute;
    right:0;
    top: 70%;
    width: 310px;
    transform: translateY(-50%);
    
}


.introducation img{
    transition:transform 0.5s ease;
}

.introducation:hover img{
    transform: rotate(-3deg);
}

.theory:hover img{
    transform: rotate(3deg);
}
